{% extends "vetrina/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Cambio password - LegalArs{% endblock title %}

{% block metatag %}
{% endblock metatag %}


{% block main %}
<div class="reset-password">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating">
            {{field}}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
        </div>
        {% endfor %}
        <input type="submit" name="action" class="btn-black-outline" value="{% trans 'change password' %}" />
    </form>
    {% endif %}
</div>
{% endblock main %}