{% extends "vetrina/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Verifica - LegalArs{% endblock title %}

{% block metatag %}
{% endblock metatag %}


{% block main %}
<div class="verify-account-needed">
    <h1>E-mail inviata</h1>

    <p>Ti abbiamo inviato un'email contenente il link per re-impostare la tua password. Se non la trovi controlla nella
        cartella "spam".</p>
    <p>Se continui a riscontrare problemi, non esitare a scriverci a: info@legalars.net.</p>
</div>
{% endblock main %}