{% extends "vetrina/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Verifica - LegalArs{% endblock title %}

{% block metatag %}
{% endblock metatag %}


{% block main %}
<div class="verify-account-needed">
    <h1>Richiesta di cambio password</h1>

    <p>Password dimenticata? Inserisci il tuo indirizzo email qui sotto, ti invieremo un'email con un link per cambiare
        la password del tuo account.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-floating">
            {{form.email}}
            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
        </div>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn-black-outline" />
    </form>

    <p>Per qualsiasi problema durante la procedura, non esitare a scriverci a: info@legalars.net</p>
</div>
{% endblock main %}