{% load static %}
{% if is_pf %}
<form method="post" id="form_cr_pf">
    <input type="hidden" id="csrfmiddlewaretoken_2" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {% for field in form_cr %}
    <div class="mb-3 mt-3">
        <label class="label-container mb-2" for="{{field.auto_id}}">{{field.label}} <img class="question-mark"
                src="{% static 'images/icons/help.svg' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-title="Bisogno di aiuto? Clicca qui"></label>
        {{field}}
    </div>
    <div id="{{field.name}}_error" class="error-message"></div>
    <p class="help-text">{{field.help_text}} <span class="closeHelpText">Chiudi</span>
    </p>
    {% endfor %}
    <input type="submit" value="Invia">
</form>

{% else %}

<form method="post" id="form_cr_pj">
    <input type="hidden" id="csrfmiddlewaretoken_3" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {% for field in form_cr %}
    <div class="mb-3 mt-3">
        <label class="label-container mb-2" for="{{field.auto_id}}">{{field.label}} <img class="question-mark"
                src="{% static 'images/icons/help.svg' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-title="Bisogno di aiuto? Clicca qui"></label>
        {{field}}
    </div>
    <div id="{{field.name}}_error" class="error-message"></div>
    <p class="help-text">{{field.help_text}} <span class="closeHelpText">Chiudi</span>
    </p>
    {% endfor %}
    <input type="submit" value="Invia">
</form>

{% endif %}