{% extends 'area_personale_base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Recupero Credito - LegalArs{% endblock title %}


{% block metatag %}
<script src="{% static 'js/enableModal.js' %}"></script>
{% endblock metatag %}


{% block main %}
<h2 class="text-center">Congratulazioni!</h2>
<p>Hai portato termine la procedura guidata ed effettuato il pagamento necessario.</p>
<p>Dalla sezione 'Servizi attivati' potrai tenere d'occhio l'andamento della pratica e riceve relative comunicazioni</p>
<a href="{% url 'userArea:servizi_attivi' %}" class="btn-gold-outline">Indirizzami alla sezione 'Servizi attivati'</a>

{% endblock main %}