{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Recupero Credito - LegalArs{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}
<div id="step-counter">
  <div class="step-circle completed">
    <div class="number">1</div>
    <!-- <div class="step-placeholder">
        <img src="{% static 'images/icons/step_into.png' %}" alt="">
        <small>Ti trovi qui</small>
      </div> -->
  </div>
  <div class="step-separator step-separator-green"></div>
  <div class="step-circle">
    <div class="number">2</div>
  </div>
  <div class="step-separator"></div>
  <div class="step-circle">
    <div class="number">3</div>
  </div>
</div>

<div class="container">
  <div class="row custom-row">
    <div class="col-lg-8 col-md-12">
      <h4>Dati sul debitore 1/2</h4>
      <p>Dobbiamo capire la natura del debitore. Effettua una scelta nel campo
        sottostante.</p>
      <form method="post">
        {% csrf_token %}
        {% for field in tipo_debitore %}
        <div class="mb-3 mt-3">
          <label class="label-container mb-2" for="{{field.auto_id}}">{{field.label}} <img class="question-mark"
              src="{% static 'images/icons/help.svg' %}" alt="" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" data-bs-title="Bisogno di aiuto? Clicca qui"></label>
          {{field}}
        </div>
        <p class="help-text">{{field.help_text}} <span class="closeHelpText">Chiudi</span></p>
        {% endfor %}
        <input class="btn-gold-outline m-3" type="submit" value="Invia">
      </form>
    </div>
    <div class="col-lg-4 col-md-12 riepilogo-block">
      <h5>Riepilogo in tempo reale</h5>
      <ol id="riepilogo-list">
        <li>Creditore
          <ul>
            {% if tipo_creditore == 'Persona Fisica' %}
            <li>Tipologia: Persona Fisica</li>
            <li id="riepilogo-nome_cr">Nome: {{nome}}</li>
            <li id="riepilogo-cognome_cr">Cognome: {{cognome}}</li>
            <li id="riepilogo-luogo-nascita_cr">Luogo di nascita: {{luogo_di_nascita}}</li>
            <li id="riepilogo-data-nascita_cr">Data di nascita: {{data_di_nascita}}</li>
            <li id="riepilogo-comune-residenza_cr">Comune di residenza: {{comune_di_residenza}}</li>
            <li id="riepilogo-indirizzo-residenza_cr">Indirizzo di residenza: {{indirizzo_di_residenza}}</li>
            <li id="riepilogo-email_cr">Indirizzo email: {{email}}</li>
            <li id="riepilogo-pec_cr">Indirizzo PEC: {{pec}}</li>
            <li id="riepilogo-codice-fiscale_cr">Codice fiscale: {{codice_fiscale}}</li>
            <li id="riepilogo-IVA_cr">Partita IVA: {{partita_iva}}</li>
            {% else %}
            <li>Tipologia: Persona Giuridica</li>
            <li id="riepilogo-denominazione_cr">Denominazione sociale: {{denominazione_sociale}}</li>
            <li id="riepilogo-comune-sede_cr">Comune sede principale: {{comune_sede_principale}}</li>
            <li id="riepilogo-indirizzo-sede_cr">Indirizzo sede principale: {{indirizzo_sede_principale}}</li>
            <li id="riepilogo-email_cr">Indirizzo email: {{email}}</li>
            <li id="riepilogo-PEC_cr">Indirizzo PEC: {{pec}}</li>
            <li id="riepilogo-codice-fiscale_cr">Codice fiscale: {{codice_fiscale}}</li>
            <li id="riepilogo-IVA_cr">Partita IVA: {{partita_iva}}</li>
            {% endif %}

          </ul>
        </li>
        <li>Debitore
          {% for field in tipo_debitore %}
          <ul>
            <li>Tipologia: <span class="value-container"></span></li>
          </ul>
          {% endfor %}
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock main %}