{% extends 'vetrina/base.html' %}
{% load static %}

{% block title %}Separazioni e Divorzi - LegalArs{% endblock title %}

{% block metatag %}
<script src="{% static 'js/activityEffect.js' %}"></script>
{% endblock metatag %}

{% block main %}
<article class="divorzi activity-content">
    <section id="hero">
        <h1>Separazioni e Divorzi</h1>
    </section>
    <section id="activity-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Con gli ultimi interventi della riforma del processo, per poter divorziare è necessario
                        attendere sei mesi (se la separazione è stata di tipo consensuale) o un anno, se la separazione
                        è stata di tipo giudiziale.</h2>
                    <div class="divider"></div>
                    <p class="text-center"><em>La separazione è consensuale quando le parti trovano un accordo in
                            anticipo su tutti gli
                            aspetti della divisione dei beni e dell’eventuale mantenimento.
                            In tal caso, davanti al giudice o comodamente in studio (mediante la negoziazione
                            assistita), occorrerà prendere atto delle volontà dei coniugi e dell’accordo da essi
                            sottoscritto, che così viene “ratificato”</em></p>
                    <p>La separazione è, invece, giudiziale quando un coniuge vuol separarsi e l’altro non vuole o
                        quando i due non trovano l’accordo su uno o più aspetti della separazione stessa.</p>
                    <p>In questo caso, l’unica via è quella di una causa in tribunale, con i suoi tempi e i suoi costi.
                        Anche il divorzio può essere consensuale o giudiziale.</p>
                    <p>Delicati sono i temi relativi a:</p>
                    <ul>
                        <li>
                            <p>l’assegno di mantenimento del coniuge che sta peggio economicamente e degli eventuali
                                figli minori;</p>
                        </li>
                        <li>
                            <p>l’eventuale l’addebito della separazione (che ha conseguenze, sul piano economico, non
                                indifferenti);</p>
                        </li>
                        <li>
                            <p>l’eventuale “mobbing familiare”, che viene ricondotto a quelle situazioni patologiche che
                                possono sorgere in presenza di un dislivello tra i due coniugi, dove la vittima si trova
                                in costante posizione di inferiorità rispetto ad un’altra, laddove dovrebbe vigere
                                l’uguaglianza morale e giuridica tra i coniugi.</p>
                        </li>
                        <li>
                            <p>l’eventuale revisione dell’assegno divorzile o di mantenimento, quando mutano le
                                condizioni di reddito di uno dei due coniugi</p>
                        </li>
                        <li>
                            <p>l’affido condiviso o esclusivo e la collocazione dei figli;</p>
                        </li>
                        <li>
                            <p>l’assegnazione della casa coniugale;</p>
                        </li>
                        <li>
                            <p>il diritto di visita dei figli</p>
                        </li>
                        <li>
                            <p>le spese straordinarie di mantenimento della prole.</p>
                        </li>
                    </ul>
                    <p>Per un approccio serio, alla complessa vicenda che si accompagna a ogni ipotesi di separazione e
                        divorzio, lo Studio su avvale di partners che hanno maturato l’esperienza necessaria.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-2">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h3 class="text-center">Potrebbero interessarti</h3>
                <div class="row custom-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/crisi-di-impresa.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/crisi-impresa.png' %}" alt="...">
                                <p>CRISI DI IMPRESA <br> E RISANAMENTO</p>
                                <a href="#">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/tutela-img-web.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/tutela-img-web.png' %}"
                                    alt="...">
                                <p>TUTELA DELLA <br> IMMAGINE SUL WEB</p>
                                <a href="#">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/reati-ambientali.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/reati-ambientali.png' %}"
                                    alt="...">
                                <p>REATI <br> AMBIENTALI</p>
                                <a href="#">Scopri</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="home-section-seven" class="container-fluid">
        <div class="container content">
            <div class="row gy-5">
                <div class="col-lg-6 col-sm-12">
                    <h3>Contattaci per maggiori <br> informazioni</h3>
                    <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                    <a href="#">Telefono +39 02.82.95.18.61</a>
                    <a href="#">Fax: 178.6060.284</a>
                    <a href="#">E-mail: info@legalars.net</a>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <form class="row g-3 form-white">
                        <div class="col-md-6 form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Nome*</label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Email*</label>
                        </div>
                        <div class="col-12 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                rows="5" required></textarea>
                            <label for="floatingTextarea">Messaggio*</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accetto l’informativa sulla <a href="#">privacy</a> *
                            </label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-gold-outline">INVIA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</article>
{% endblock main %}