{% extends 'area_personale_base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Recupero Credito - LegalArs{% endblock title %}


{% block metatag %}
<script src="{% static 'js/enableModal.js' %}"></script>
{% endblock metatag %}


{% block main %}
<h1>Prodotti</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                {% if request.user.is_authenticated %}
                {% if request.user.subscription %}
                {% if request.user.subscription.plan.product == product %}
                <p class="card-text">Il tuo abbonamento è attualmente attivo per questo prodotto.</p>
                <a href="{% url 'cancel_subscription' %}" class="btn btn-danger">Annulla abbonamento</a>
                {% else %}
                <a href="{% url 'subscribe' product.id %}" class="btn btn-primary">Aggiorna abbonamento</a>
                {% endif %}
                {% else %}
                <a href="{% url 'subscribe' product.id %}" class="btn btn-primary">Abbonati</a>
                {% endif %}
                {% else %}
                <p class="card-text">Accedi o registrati per abbonarti a questo prodotto.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Accedi</a>
                <a href="{% url 'register' %}" class="btn btn-primary">Registrati</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock main %}