{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}
{% endblock metatag %}


{% block main %}
<h1>Hai effettuato correttamente l'acquisto. Puoi gestire i tuoi abbonamenti e metodi di pagamento dall voce 'I tuoi
    abbonamenti'
    del menu.</h1>
<a style="width: 100%; text-align: center;" href="{% url 'userArea:recupero-credito-start' %}">Inizia subito</a>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        let searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has('session_id')) {
            const session_id = searchParams.get('session_id');
            document.getElementById('session-id').setAttribute('value', session_id);
        }
    });
</script>
{% endblock main %}