{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}
<section id="user-area-home">
    <h1>La tua area personale</h1>




    {% if post %}
    <div class="user-area-home-section">
        <div class="row-heading">Articoli salvati</div>
        <div class="container-fluid">
            <div class="row">
                {% for article in post %}
                <!-- LARGE SCREEN -->
                <div class="col-lg-6 col-md-4 col-sm-12 post-card-container d-flex flex-column justify-content-between">
                    <div class="saved-post-card">
                        <div class="post-card-section">
                            <small>TITOLO</small>
                            <small>{{article.titolo}}</small>
                        </div>
                        <div class="post-card-section">
                            <small>CATEGORIA</small>
                            <small>{{article.categoria}}</small>
                        </div>
                        <div class="post-card-btn">
                            <a href="{% url 'blog_news_details' article.slug %}" class="btn-gold-outline">Leggi</a>
                            <form method="post" action="{% url 'remove_article' article.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value="{{ article.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn-gold-outline" type="submit">Rimuovi</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="see-more"><a href="{% url 'userArea:post_saved' %}">Vedi tutti <img alt=""
                            src="/static/images/icons/Vector.png"></a></div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="nothing-to-show">
        <div class="alert alert-primary" role="alert">
            Al momento non risultano articoli salvati.
        </div>
    </div>
    {% endif %}
</section>



{% endblock main %}