{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}

<section class="container servizi_attivi">
    <h2>I servizi che hai attivato</h2>
    {% if recupero_credito %}
    <div class="row g-4">
        {% for field in recupero_credito reversed %}


        <div class="col-lg-4 col-md-6 col-sm-12 service-column">
            <div class="service-card">
                <div class="row">
                    <div class="col-10">
                        <h4>Recupero credito</h4>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{% static 'images/icons/icons8-wallet.gif' %}" class="tool-gif" alt="">
                    </div>
                </div>
                <p>Dettagli:</p>
                <ul>
                    <li class="details">Somma: {{field.somma}}€</li>
                    <li class="details">Attivato il: {{field.time|date:"d/m/Y"}}</li>
                    <li class="details">Comunicazioni da leggere: {{counter}}

                        {% if avvisi %}
                        <span class="avvisi-pratica"></span>
                        {% endif %}
                    </li>
                </ul>
                <a href="{% url 'userArea:servizio_attivo_details' field.pk %}" class="btn-gold-outline">Più
                    dettagli</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="nothing-to-show">
        <div class="alert alert-warning" role="alert">
            <h4>Pare che tu non abbia attivato ancora nessun servizio.</h4>
            <p>Quando ne attiverai uno, tramite questa pagina potrai accedere a tutti i dettagli e le comunicazioni in
                tempo reale.</p>
        </div>
    </div>
    {% endif %}
</section>

{% endblock main %}