{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}
<script src="https://js.stripe.com/v3/"></script> <!-- new -->
<script src="{% static 'js/enableModal.js' %}"></script>
{% endblock metatag %}


{% block main %}

{% if has_subscription %}
<h2>Abbonamenti attivi</h2>
<div class="row g-4">
<div class="col-lg-4 col-md-6 col-sm-12 service-column">
<div class="service-card">
    <div class="row">
        <div class="col-10">
            <h4>Recupero Credito</h4>
        </div>
        <div class="col-2 text-end">
            <img src="{% static 'images/icons/icons8-wallet.gif' %}" class="tool-gif" alt="">
        </div>
    </div>
    <p>Con la nostra procedura semplice e guidata, potrai iniziare a recuperare il tuo credito in pochi semplici passi.</p>
    <span class="btn-gold-outline" data-bs-toggle="modal"
        data-bs-target="#recuperoCreditoModal">Maggiori dettagli</span>

        <a href="{% url 'userArea:recupero-credito-start' %}">Inizia subito</a>
</div>
</div>
</div>

{% endif %}
<h2>Tutti i servizi disponibili</h2>
<div class="service-container container-fluid">
    <div class="row g-4">
        {% for product in subscriptions.data %}
        <div class="col-lg-4 col-md-6 col-sm-12 service-column">
            <div class="service-card">
                <div class="row">
                    <div class="col-10">
                        <h4>{{product.name}}</h4>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{% static 'images/icons/icons8-wallet.gif' %}" class="tool-gif" alt="">
                    </div>
                </div>
                <p>{{product.description}}</p>
                {% for price in prices %}
            {% if price.product == product.id %}
                <form action="{% url 'userArea:create_checkout_subscription' %}" method="POST">
                    {% csrf_token %}
                    <!-- Add a hidden field with the lookup_key of your Price -->
                    <input type="hidden" name="lookup_key" value="{{price.lookup_key}}" />
                    <button id="checkout-and-portal-button" type="submit" class="btn-gold-outline">Abbonati</button>
                </form>
            {% endif %}
        {% endfor %} 
                <span class="btn-gold-outline" data-bs-toggle="modal"
                    data-bs-target="#recuperoCreditoModal">Anteprima</span>
            </div>
        </div>
        {% endor %}
    </div>
</div>

<!-- recuperoCreditoModal -->
<div class="modal fade" id="recuperoCreditoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Servizio di recupero credito</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>IMPORTANTE</b>: con un abbonamento puoi avviare il numero di pratiche che desideri.</p>
                Per creare una pratica di recupero credito online, dovrai inserire solo alcuni dati che
                permetteranno all'avvocato di avere tutte le informazioni necessarie per procedere con la richiesta di
                recupero. Sarà necessario indicare se il creditore è una persona oppure una società/ente, inserire
                informazioni come nome, cognome, residenza,
                codice fiscale e partita IVA. Gli stessi dati ti saranno richiesti per il debitore. Infine, sarà
                necessario inserire informazioni riguardanti la somma da recuperare.
                Una volta che la pratica verrà avviata, potrai ricevere le comunicazioni direttamente
                dall'avvocato tramite la tua area personale, dove potrai monitorare lo stato della pratica e avere
                accesso a tutte le informazioni relative alla procedura di recupero del credito.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}