{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}
<section id="servizi-home" class="container">
    <!-- <p>Servizi legali con <br> comodità e velocità</p> -->
    <div class="row hero-row">
        <div class="col-md-6 col-sm-12 d-flex flex-row align-items-center">
            <h2>Dalla comodità di casa tua, dell'ufficio o in viaggio.</h2>
        </div>
        <!-- <div class="col-md-6 col-sm-12 image-hero">
            <img src="{% static 'images/digital-service.jpeg' %}" alt="" class="img-fluid">
        </div> -->
    </div>
    <div class="row second-row">
        <div class="col-md-6 col-sm-12 d-flex flex-row align-items-center">
            <p>Con i nostri servizi digitali, puoi attivare i servizi legali di cui hai bisogno con facilità e rapidità,
                permettendoti di concentrarti su ciò che conta di più.</p>
        </div>
        <div class="col-md-6 col-sm-12 step-div">
            <h2 class="text-center">Come si fa?</h2>
            <p class="text-center">Pochissimi passaggi da compiere.</p>
            <ol>
                <li class="text-center">
                    <div class="number">
                        <span>1</span>
                    </div>
                    Entra nella tua area personale
                </li>
                <li class="text-center">
                    <div class="number">
                        <span>2</span>
                    </div>
                    Sfoglia la lista dei servizi disponibili
                </li>
                <li class="text-center">
                    <div class="number">
                        <span>3</span>
                    </div>
                    Attiva il servizio e segui la procedura guidata
                </li>
            </ol>
        </div>
    </div>
    <div class="row single-heading-row">
        <div class="col-md-8 col-sm-12">
            <h4 class="text-center">Scegli un servizio. Segui una procedura guidata e chiara. Ottieni l'intervento di
                uno specialista.</h4>
        </div>
    </div>
    <div class="row CTA">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h4 class="text-center">Semplice, <br> no?</h4>
                </div>
                <div class="col-lg-6 col-md-12">
                    <a href="{% url 'userArea:servizi_all' %}" class="btn-gold-outline">Sfoglia lista servizi</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6 col-sm-12">
            <p>Semplice, <br> no?</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a href="{% url 'userArea:servizi_all' %}" class="btn-gold-outline">Sfoglia lista servizi</a>
        </div> -->
    </div>




    <!-- CONTINUA MODIFICANDO HERO -->
    <!-- <h2 class="text-center">La tua esperienza legale comodamente da casa, dall'ufficio o in viaggio.</h2>
    <h3 class="text-center">Come fare?</h3>
    <div class="step-card">
        <div class="row">
            <div class="col-1">
                <div class="number">
                    <p>1</p>
                </div>
                <div class="line"></div>
                <div class="number">
                    <p>2</p>
                </div>
                <div class="line"></div>
                <div class="number">
                    <p>3</p>
                </div>
            </div>
            <div class="col-11">
                <p>Entra nella tua area personale</p>
                <p>Sfoglia la lista dei servizi disponibili</p>
                <p>Attiva il servizio di cui hai bisogno</p>
            </div>
        </div>
    </div> -->
</section>
{% comment %} <h2>Tutti i servizi disponibili</h2>
<div class="service-container container-fluid">
    <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-sm-12 service-column">
            <div class="service-card">
                <div class="row">
                    <div class="col-10">
                        <h4>Recupero credito</h4>
                    </div>
                    <div class="col-2 text-end">
                        <img src="{% static 'images/icons/icons8-wallet.gif' %}" class="tool-gif" alt="">
                    </div>
                </div>
                <p>Con la nostra procedura semplice e guidata, potrai iniziare a recuperare il tuo credito
                    in pochi semplici passi.</p>
                <a href="{% url 'userArea:recupero-credito-start' %}" class="btn-gold-outline">Inizia ora</a>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock main %}