{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}




{% block main %}
<article class="container-fluid fonti-home-body">
    <div class="row">
        <div class="col-lg-3 col-md-12 sidebar-fonti">
            <button class="toggle-canvas-btn d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
                <span class="canvas-btn-circle"></span>
                <span class="canvas-btn-circle"></span>
                <span class="canvas-btn-circle"></span>
            </button>

            <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive"
                aria-labelledby="offcanvasResponsiveLabel">
                <div class="offcanvas-header">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="flex-direction: column;">
                    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Indice</h5>
                    <div class="accordion" id="accordionExample">
                        {% block indice %}{% endblock indice %}
                        {% for categoria in fonti_categoria %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{forloop.counter}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                                    aria-controls="collapse{{forloop.counter}}">
                                    {{ categoria.nome }}
                                </button>
                            </h2>
                            <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{forloop.counter}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body altre-fonti">
                                    {% for fonte in categoria.fonti_set.all %}
                                    <p><a href="{% url 'blog_fonti_details' slug=fonte.slug %}">{{ fonte.titolo }}</a>
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">

            {% block content %}{% endblock content %}
        </div>
    </div>


</article>
{% endblock main %}