{% extends 'base.html' %}
{% load static %}

{% block title %}Chi siamo - LegalArs{% endblock title %}

{% block metatag %}
{% endblock metatag %}

{% block main %}
<section class="container-fluid" id="about-hero">
    <div class="text-hero container">
        <p>CHI SIAMO</p>
        <h1>Studio Legale LegalArs</h1>
    </div>
</section>
<div class="container about-body">
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center order-lg-1 order-md-1 text-container">
            <h2>Perché LegalArs?</h2>
            <p>È per un ideale di Avvocatura che, nell’interesse di tutti (operatori e clienti), si ispira all’arte
                della Giurisprudenza e alla professione di Avvocato, nel nobile significato di una storia secolare,
                attestata da opere d’arte, come quelle che scorrono.</p>
        </div>
        <div class="col-lg-6 col-md-12 order-lg-2 order-md-2">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-item-container">
                            <img src="{% static 'images/legislazione.png' %}" class="d-block img-fluid" alt="...">
                            <div class="description">
                                <p>Phoroneus ossia La Legislazione</p>
                                <p>Andrea e Nino Pisano <br> lato sud del campanile di Firenze</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-item-container">
                            <img src="{% static 'images/giustizia.png' %}" class="d-block img-fluid" alt="...">
                            <div class="description">
                                <p>Giustizia</p>
                                <p>Maestro dell’armatura, 1343-60 circa <br> lato sud del campanile di Firenze</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-item-container">
                            <img src="{% static 'images/logica.png' %}" class="d-block img-fluid" alt="...">
                            <div class="description">
                                <p>Logica</p>
                                <p>Gino Micheli da castello (attr.) 1343-60 ca. <br> lato est del campanile di Firenze
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-item-container">
                            <img src="{% static 'images/retorica.png' %}" class="d-block img-fluid" alt="...">
                            <div class="description">
                                <p>Retorica</p>
                                <p>Andrea Pisano (attr.), 1343-60 ca. <br> lato est del campanile di Firenze</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-item-container">
                            <img src="{% static 'images/klimt.png' %}" class="d-block img-fluid" alt="...">
                            <div class="description">
                                <p>Jurisprudence final state</p>
                                <p>Klimt 1907</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center order-lg-1 order-2">
            <img src="{% static 'images/avvocato-che-lavora.webp' %}" alt="">
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center order-lg-2 order-1 text-container">
            <h2>Perché un tavolo di lavoro comune?</h2>
            <p>Per ogni questione legale c’è un team ideale: LegalArs lo realizza, valorizzando le giuste
                professionalità, con gli <b>stessi parametri economici di un solo avvocato</b>.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center text-container">
            <h2>Su misura per i clienti</h2>
            <p>Se fossi un cliente, vorrei <b>un mio ufficio legale</b> che mi aiutasse a decidere, un “me stesso ma con
                cognizioni legali minime”, capace di scegliere le professionalità utili (avvocati e consulenti) e di
                controllarne l’operato.</p>
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center">
            <img src="{% static 'images/consulting.webp' %}" alt="">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 d-flex flex-column align-items-center text-center text-container">
            <h2>Piace l’idea di un personal legal, con cui gestire i propri affari legali? E se tutto funzionasse al
                costo di un solo avvocato?</h2>
            <p>Sei curioso di verificarlo -senza impegno- in un caso concreto?
                Usa la chat qui sotto e descrivi il caso o l’esigenza che hai: sarà nostra cura contattarti, per
                suggerire la soluzione preferibile ed eventualmente proporre -gratuitamente- un preventivo di costo.</p>
            <a href="#home-section-seven" class="btn-gold-outline">RICHIEDI UN CONTATTO</a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center order-lg-1 order-2">
            <img src="{% static 'images/avvocato-che-lavora.webp' %}" alt="">
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center order-lg-2 order-1 text-container">
            <h2>Su misura per gli avvocati</h2>
            <p>Amiamo essere avvocati; desideriamo dare il massimo e gustare il bello di una professione che si impara
                ogni giorno, con l’amaro di un servizio sempre migliorabile.
                Tutto questo -però- deve fare i conti con il poco tempo a disposizione, con la difficoltà di una giusta
                remunerazione e con la necessità di prestarsi in tante materie, pur di reggere le urgenze di una vita
                privata e famigliare che non va trascurata</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 d-flex flex-column align-items-center text-center text-container">
            <h2>UNIAMO LE FORZE</h2>
            <p>Ogni avvocato può eseguire in poco tempo alcuni incarichi specifici che ha già studiato bene e che
                avrebbe piacere di approfondire sempre di più.</p>
            <a href="#home-section-seven" class="btn-gold-outline">RICHIEDI UN CONTATTO</a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center text-container">
            <h2>FACCIAMO NETWORK: un vero network professionale e non il solito “portale vetrina”.</h2>
            <p>L’intento è quello di rendere note le conoscenze di ognuno, a una platea sempre più ampia di clienti
                condivisi, con la gratificazione di chi lavora facendo ciò che gli piace e gli è più facile.</p>
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center">
            <img src="{% static 'images/shaking-hands.webp' %}" alt="">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 d-flex flex-row justify-content-center order-lg-1 order-2">
            <img src="{% static 'images/paper.webp' %}" alt="">
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center order-lg-2 order-1 text-container">
            <h2>E se un caso non rientra nella propria esperienza, il network potrà segnalarti la professionalità utile
                a mantenere alto il livello della prestazione offerta.</h2>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 d-flex flex-column align-items-center text-center text-container">
            <h2>Vuoi lavorare con noi?</h2>
            <p>Compila il form che segue, con una descrizione breve dei casi maggiormente studiati: sarà nostra cura
                registrarli e trovare il modo di condividerli con gli utenti di www.legalars.net.</p>
            <a href="#home-section-seven" class="btn-gold-outline">RICHIEDI UN CONTATTO</a>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 d-flex flex-column align-items-center text-center text-container">
            <h2>METTIAMOCI INSIEME E TROVEREMO L’EQUILIBRIO DI UNA COMMUNITY VIVA</h2>
            <a href="#home-section-seven" class="btn-gold-outline">RICHIEDI UN CONTATTO</a>
        </div>
    </div>
</div>
<section id="home-section-seven" class="container-fluid">
    <div class="container content">
        <div class="row gy-5">
            <div class="col-lg-6 col-sm-12">
                <h3>Contattaci per maggiori <br> informazioni</h3>
                <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                <a href="#">Telefono +39 02.82.95.18.61</a>
                <a href="#">Fax: 178.6060.284</a>
                <a href="#">E-mail: info@legalars.net</a>
            </div>
            <div class="col-lg-6 col-sm-12">

                <form class="row g-3 form-white">
                    <div class="col-md-6 form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                            required>
                        <label for="floatingInput">Nome*</label>
                    </div>
                    <div class="col-md-6 form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            required>
                        <label for="floatingInput">Email*</label>
                    </div>
                    <div class="col-12 form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="5"
                            required></textarea>
                        <label for="floatingTextarea">Messaggio*</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Accetto l’informativa sulla <a href="{% url 'privacyPage' %}">privacy</a> *
                        </label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn-gold-outline">INVIA</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock main %}