{% extends 'base.html' %}
{% load static %}

{% block title %}Diritto Civile - LegalArs{% endblock title %}

{% block metatag %}
<script src="{% static 'js/activityEffect.js' %}"></script>
{% endblock metatag %}

{% block main %}
<article class="diritto-civile activity-content">
    <section id="hero">
        <h1>Diritto Civile</h1>
    </section>
    <section id="activity-body" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2>Il diritto civile è la parte dell’ordinamento giuridico che regola i rapporti tra privati. <br>
                    Comprende il diritto privato e il diritto commerciale.</h2>
                <div class="divider"></div>
                <p>Le materie trattate dal nostro studio sono quelle dei contratti, delle obbligazioni, dei diritti
                    reali, delle persone e della famiglia, delle successioni a causa di morte, della responsabilità
                    civile.</p>
                <p>Nondimeno importante è stato ed è il nostro impegno nel diritto commerciale, che si sviluppa intorno
                    alla nozione di imprenditore e impresa e si occupa in particolare della disciplina delle imprese
                    organizzate in forma societaria (nonché di altri istituti quali i titoli di credito o i cosiddetti
                    contratti commerciali, che rilevano soprattutto nei rapporti tra imprenditori e tra imprenditori e
                    consumatori).</p>
                <h3 class="text-center">Potrebbero interessarti</h3>
                <div class="row custom-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/tutela-img-web.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/tutela-img-web.png' %}"
                                    alt="...">
                                <p>TUTELA DELLA <br> IMMAGINE SUL WEB</p>
                                <a href="{% url 'tutela-immagine' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/separazione.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/divorzi.png' %}" alt="...">
                                <p>SEPARAZIONE <br> E DIVORZI</p>
                                <a href="{% url 'separazioni-divorzi' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/recupero-crediti.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/recupero-crediti.png' %}"
                                    alt="...">
                                <p>RECUPERO <br> CREDITI</p>
                                <small data-bs-toggle="modal" data-bs-target="#exampleModal">Scopri</small>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Creando un account gratuito, hai l'opportunità di iniziare a recupero il tuo
                                            credito in pochi click.</p>
                                        <a class="btn-gold-outline" href="{% url 'registrazione' %}">Registrati ora</a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home-section-seven" class="container-fluid">
        <div class="container content">
            <div class="row gy-5">
                <div class="col-lg-6 col-sm-12">
                    <h3>Contattaci per maggiori <br> informazioni</h3>
                    <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                    <a href="#">Telefono +39 02.82.95.18.61</a>
                    <a href="#">Fax: 178.6060.284</a>
                    <a href="#">E-mail: info@legalars.net</a>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <form class="row g-3 form-white">
                        <div class="col-md-6 form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Nome*</label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Email*</label>
                        </div>
                        <div class="col-12 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                rows="5" required></textarea>
                            <label for="floatingTextarea">Messaggio*</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accetto l’informativa sulla <a href="{% url 'privacyPage' %}">privacy</a> *
                            </label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-gold-outline">INVIA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</article>
{% endblock main %}