{% extends 'base.html' %}
{% load static %}

{% block title %}Esdebitazione - LegalArs{% endblock title %}

{% block metatag %}
<script src="{% static 'js/activityEffect.js' %}"></script>
{% endblock metatag %}

{% block main %}
<article class="diritto-lavoro activity-content">
    <section id="hero">
        <h1>Esdebitazione</h1>
    </section>
    <section id="activity-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>La Legge n. 3/2012 modificata dal D.L. n. 179/2012 convertito in L. n. 221/12 disciplina la
                        procedura cosiddetta di esdebitazione rivolta a tutti quei soggetti che sono sovraindebitati e
                        che non possono accedere alle procedure concorsuali previste dalla Legge Fallimentare</h2>
                    <div class="divider"></div>
                    <p>Gli imprenditori commerciali le cui dimensioni escludono la loro assoggettabilità al fallimento;
                        i fideiussori che abbiano garantito debiti di un imprenditore fallito, in quanto non fallibili
                        per legge; gli imprenditori agricoli; i soggetti che svolgono un’attività di libera
                        professione; il consumatore.</p>
                    <p>La normativa tende a prospettare un rimedio a tutte quelle situazioni di sovraindebitamento che
                        esulano dalla sua volontà: perdita di lavoro, malattie, crisi familiari, etc. che comportano un
                        insostenibile aumento di oneri finanziari da pagare ai creditori, consentendo allo stesso
                        debitore di liberarsi dai debiti e disporre nuovamente delle proprie risorse patrimoniali.</p>
                    <h3 class="text-center"><em>Il Tribunale valuta meritevolezza, fattibilità e convenienza della
                            domanda che, se accolta e a determinate condizioni, può condurre alla liberazione dal debito
                            originario.</em></h3>
                    <p>Le procedure disciplinate dalla legge in esame sono tre:</p>
                    <ol>
                        <li>
                            <p>ACCORDO DI COMPOSIZIONE DELLA CRISI</p>
                        </li>
                        <li>
                            <p>PIANO DEL CONSUMATORE</p>
                        </li>
                        <li>
                            <p>LIQUIDAZIONE DEL PATRIMONIO DEL DEBITORE.</p>
                        </li>
                    </ol>
                    <p>Altra esdebitazione è quella che può essere concessa al fallito persona fisica al termine di una
                        procedura fallimentare.</p>
                    <p>In presenza dei requisiti previsti dall’art.142 della Legge Fallimentare, il tribunale, con lo
                        stesso decreto di chiusura, dichiara d’ufficio inesigibili i crediti concorsuali non soddisfatti
                        integralmente nei confronti del debitore.</p>
                    <p>In tutti i casi, trattasi di procedure che esigono l’esperienza di professionisti esperti, per le
                        molteplici problematiche che vanno affrontate.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-2">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h3 class="text-center">Potrebbero interessarti</h3>
                <div class="row custom-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/tutela-img-web.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/tutela-img-web.png' %}"
                                    alt="...">
                                <p>TUTELA DELLA <br> IMMAGINE SUL WEB</p>
                                <a href="{% url 'tutela-immagine' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/crisi-di-impresa.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/crisi-impresa.png' %}" alt="...">
                                <p>CRISI DI IMPRESA <br> E RISANAMENTO</p>
                                <a href="{% url 'impresa-risanamento' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/reati-ambientali.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/reati-ambientali.png' %}"
                                    alt="...">
                                <p>REATI <br> AMBIENTALI</p>
                                <a href="{% url 'reati-ambientali' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="home-section-seven" class="container-fluid">
        <div class="container content">
            <div class="row gy-5">
                <div class="col-lg-6 col-sm-12">
                    <h3>Contattaci per maggiori <br> informazioni</h3>
                    <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                    <a href="#">Telefono +39 02.82.95.18.61</a>
                    <a href="#">Fax: 178.6060.284</a>
                    <a href="#">E-mail: info@legalars.net</a>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <form class="row g-3 form-white">
                        <div class="col-md-6 form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Nome*</label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Email*</label>
                        </div>
                        <div class="col-12 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                rows="5" required></textarea>
                            <label for="floatingTextarea">Messaggio*</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accetto l’informativa sulla <a href="{% url 'privacyPage' %}">privacy</a> *
                            </label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-gold-outline">INVIA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</article>
{% endblock main %}