{% extends 'base.html' %}

{% load static %}


{% block metatag %}{% endblock metatag %}

{% block main %}
<div id="accesso-body">
  <img src="{% static 'images/justice.jpeg' %}" alt="">
  <div class="container">
      
      <div id="restor-pass-form">
          <div class="row d-flex flex-row justify-content-center align-items-center">
              <div class="col-lg-4 col-12">
                  <h2 class="text-center">Recupero password</h2>
                  <p class="text-center">Inserisci la nuova password che userai per effettuare l'accesso.</p>
                  <form method="post" action=".">
                      {% csrf_token %}
                      {% for error in form.non_field_errors %}
                      <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      <div class="form-floating mb-3">
                          {{form.new_password1}}
                          <label for="username">Password 1:</label>
                      </div>
                      <div class="form-floating mb-3">
                          {{form.new_password2}}
                          <label for="username">Password 2:</label>
                      </div>
                      <input type="submit" name="login" value="Imposta password" class="btn-black-outline">
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>




{% comment %} <form method="post">
    {% csrf_token %}
    {{ form }}

    <button type="submit">Reset password</button>
  </form> {% endcomment %}
{% endblock main %}