{% extends 'base.html' %}

{% load static %}


{% block metatag %}{% endblock metatag %}

{% block main %}
<div id="accesso-body">
    <img src="{% static 'images/justice.jpeg' %}" alt="">
    <div class="container">

        <div id="restor-pass-form">
            <div class="row d-flex flex-row justify-content-center align-items-center">
                <div class="col-lg-4 col-12">
                    <h2 class="text-center">Recupero password</h2>
                    <p class="text-center">Inserisci l'email con cui ti sei registrato, ti invieremo un un link per
                        impostare nuovamente la password del tuo account.</p>
                    <form method="post" action=".">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="form-floating mb-3">
                            {{form.email}}
                            <label for="username">Email</label>
                        </div>
                        <input type="submit" name="login" value="Invia" class="btn-black-outline">
                    </form>
                </div>
            </div>
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-lg-4 col-12">
                    <div class="divider-container">
                        <hr>
                        <small>oppure</small>
                        <hr>
                    </div>
                    <p class="text-center">Non hai un account? <a href="{% url 'registrazione' %}">Registrati ora</a>
                    </p>
                    <p class="text-center">Ti sei ricordato le credenziali? <a href="{% url 'accesso' %}">Accedi ora</a>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Send email</button>
</form> {% endcomment %}
{% endblock main %}