{% extends 'base.html' %}
{% load static %}

{% block title %}Permesso di Soggiorno - LegalArs{% endblock title %}

{% block metatag %}
<script src="{% static 'js/activityEffect.js' %}"></script>
{% endblock metatag %}

{% block main %}
<article class="permesso-soggiorno activity-content">
    <section id="hero">
        <h1>Permesso di Soggiorno</h1>
    </section>
    <section id="activity-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Le legislazioni dei Paesi UE pongono l’autonomia economica dell’immigrato come una condizione
                        necessaria per avere un permesso di soggiorno e poi la cittadinanza.
                    </h2>
                    <div class="divider"></div>
                    <p>L’immigrato viene espulso se non dimostra di avere un lavoro regolare o qualcuno che possa dargli
                        un sostentamento economico, condizioni per ottenere un regolare permesso di soggiorno.</p>
                    <p>Una prima eccezione a questo principio riguarda quanti sono vittime di persecuzioni politiche o
                        religiose, provengono da dittature e Paesi in guerra. Il diritto internazionale prevede che in
                        questi casi sia riconosciuto il diritto di asilo, l’assistenza sanitaria e le cure di primo
                        soccorso.</p>
                    <h3 class="text-center"><em>A qualsiasi persona, pure clandestina, si applica quanto sancito dalla
                            Dichiarazione Universale dei Diritti dell’Uomo.</em></h3>
                    <p>Altro è il visto di ingresso, che è l’atto con il quale uno stato dà a un individuo straniero il
                        permesso di accedere nel proprio territorio, per un certo periodo di tempo e per determinati
                        fini. È internazionalmente noto col nome breve di visa, dal latino charta visa (“carta che è
                        stata vista”).</p>
                    <p>I cittadini degli stati che hanno sottoscritto la convenzione di Schengen (quasi tutti quelli
                        dell’Unione europea, tranne Gran Bretagna e Irlanda ed inoltre vi hanno aderito Svizzera ed
                        Islanda) possono entrare liberamente in Italia e soggiornarvi senza limitazioni, mentre gli
                        altri sono soggetti a controlli di frontiera, in molti casi con l’obbligo del visto d’ingresso
                        rilasciato da un’ambasciata italiana all’estero.</p>
                    <p>Come orientamento generale, sono di regola esenti dall’obbligo del visto tutti i cittadini degli
                        stati del continente americano, mentre sono in genere soggetti all’obbligo del visto i cittadini
                        provenienti da stati del continente africano ed asiatico.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-2">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h3 class="text-center">Potrebbero interessarti</h3>
                <div class="row custom-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/tutela-img-web.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/tutela-img-web.png' %}"
                                    alt="...">
                                <p>TUTELA DELLA <br> IMMAGINE SUL WEB</p>
                                <a href="{% url 'tutela-immagine' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/crisi-di-impresa.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/crisi-impresa.png' %}" alt="...">
                                <p>CRISI DI IMPRESA <br> E RISANAMENTO</p>
                                <a href="{% url 'impresa-risanamento' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/reati-ambientali.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/reati-ambientali.png' %}"
                                    alt="...">
                                <p>REATI <br> AMBIENTALI</p>
                                <a href="{% url 'reati-ambientali' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="home-section-seven" class="container-fluid">
        <div class="container content">
            <div class="row gy-5">
                <div class="col-lg-6 col-sm-12">
                    <h3>Contattaci per maggiori <br> informazioni</h3>
                    <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                    <a href="#">Telefono +39 02.82.95.18.61</a>
                    <a href="#">Fax: 178.6060.284</a>
                    <a href="#">E-mail: info@legalars.net</a>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <form class="row g-3 form-white">
                        <div class="col-md-6 form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Nome*</label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Email*</label>
                        </div>
                        <div class="col-12 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                rows="5" required></textarea>
                            <label for="floatingTextarea">Messaggio*</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accetto l’informativa sulla <a href="{% url 'privacyPage' %}">privacy</a> *
                            </label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-gold-outline">INVIA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</article>
{% endblock main %}