{% extends 'area_personale_base.html' %}
{% load static %}

{% block title %}Area Personale{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}
<section id="post-saved-home">
    <section class="container ricerca-section">
        <h2 class="text-center">Ricerca gli articoli che ti interessano</h2>

        <form class="search-form" method="get">
            <div class="field-container">
                <div class="form-floating mb-3">
                    {{form.ricerca}}
                    <label class="label-container mb-2" for="{{form.ricerca.auto_id}}">{{form.ricerca.label}}</label>
                </div>
                {% for error in form.ricerca.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <button class="btn-gold-outline mb-3" type="submit">Cerca</button>
            </div>
        </form>

        {% if query %}
        <p>Risultati per "{{ query }}" tra gli articoli salvati, utilizzando come parametri il titolo e il corpo del
            testo:</p>
        {% if results %}
        <section id="blog-news-content" class="container">
            <div class="row g-5">
                {% for post in results reversed %}
                <div class="col-lg-6 col-md-4 col-sm-12 post-card-container d-flex flex-column justify-content-between">
                    <div class="saved-post-card">
                        <div class="post-card-section">
                            <small>TITOLO</small>
                            <small>{{post.titolo}}</small>
                        </div>
                        <div class="post-card-section">
                            <small>CATEGORIA</small>
                            <small>{{post.categoria}}</small>
                        </div>
                        <div class="post-card-btn">
                            <a href="{% url 'blog_news_details' post.slug %}" class="btn-gold-outline">Leggi</a>
                            <form method="post" action="{% url 'remove_article' post.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn-gold-outline" type="submit">Rimuovi</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% else %}
        <p>Nessun risultato trovato.</p>
        <p>Spiacente, nessun articolo corrisponde ai tuoi criteri. Prova con un’altra ricerca</p>

        <p>Si potrebbero prendere in considerazione alcuni dei nostri suggerimenti per ottenere risultati migliori:</p>
        <ul>
            <li>Controlla la ortografia.</li>
            <li>Prova con termini simili o sinonimi.</li>
            <li>Provare a utilizzare più di una parola chiave.</li>
        </ul>
        {% endif %}
        {% endif %}
    </section>

    {% if post %}
    <h2>Tutti gli articoli salvati:</h2>
    <div class="container-fluid">
        <div class="row">
            {% for article in post %}
            <!-- LARGE SCREEN -->
            <div class="col-lg-6 col-md-4 col-sm-12 post-card-container d-flex flex-column justify-content-between">
                <div class="saved-post-card">
                    <div class="post-card-section">
                        <small>TITOLO</small>
                        <small>{{article.titolo}}</small>
                    </div>
                    <div class="post-card-section">
                        <small>CATEGORIA</small>
                        <small>{{article.categoria}}</small>
                    </div>
                    <div class="post-card-btn">
                        <a href="{% url 'blog_news_details' article.slug %}" class="btn-gold-outline">Leggi</a>
                        <form method="post" action="{% url 'remove_article' article.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="article_id" value="{{ article.id }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn-gold-outline" type="submit">Rimuovi</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}
</section>



{% endblock main %}