{% extends 'base.html' %}
{% load static %}

{% block title %}Reati Ambientali - LegalArs{% endblock title %}

{% block metatag %}
<script src="{% static 'js/activityEffect.js' %}"></script>
{% endblock metatag %}

{% block main %}
<article class="reati-ambientali activity-content">
    <section id="hero">
        <h1>Reati Ambientali</h1>
    </section>
    <section id="activity-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Dal 19 maggio 2015, vi è una disciplina dettagliata dei delitti contro l’ambiente, per la quale
                        si sono introdotti, nel Codice Penale, gli artt. 452bis-452terdecies, volti a migliorare la
                        tutela delle risorse naturali, con innegabili e consistenti risvolti positivi anche sulla salute
                        pubblica.
                    </h2>
                    <div class="divider"></div>
                    <p>Le nuove fattispecie introdotte sono quelle di</p>
                    <ul>
                        <li>
                            <p>Inquinamento Ambientale</p>
                        </li>
                        <li>
                            <p>Disastro Ambientale</p>
                        </li>
                        <li>
                            <p>Traffico ed abbandono di materiale ad alta radioattività</p>
                        </li>
                        <li>
                            <p>Impedimento del controllo ed omessa bonifica</p>
                        </li>
                        <li>
                            <p>Inquinamento ambientale</p>
                        </li>
                    </ul>
                    <p class="text-center"><em>Tra le novità di maggior rilievo apportate dalla legge in esame, merita
                            sicuramente di essere menzionata l’introduzione della confisca obbligatoria, anche per
                            equivalente, delle cose che costituiscono il prodotto, il profitto del reato o che servirono
                            a commetterlo.</em></p>
                    <p>Tuttavia, nel caso in cui l’imputato si sia adoperato al fine di mettere in atto la bonifica, la
                        messa in sicurezza o il ripristino dello stato dei luoghi o nel caso in cui i beni utilizzati
                        siano di proprietà di terzi che nulla hanno a che vedere con la commissione del reato, tale
                        misura deve considerarsi esclusa.
                    </p>
                    <p>Altro elemento di novità che merita di essere messo in risalto è quello del ravvedimento operoso.
                        <br>
                        Esso, alla luce della normativa vigente, opera come circostanza attenuante in favore di chi,
                        prima della dichiarazione di apertura di apertura del dibattimento di primo grado, eviti che
                        l’attività illecita sia portata a conseguenze ulteriori, provveda alla messa in sicurezza, alla
                        bonifica o al ripristino dello stato dei luoghi o collabori concretamente con l’Autorità di
                        Polizia o Giudiziaria alla ricostruzione dei fatti e all’individuazione dei colpevoli.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-2">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h3 class="text-center">Potrebbero interessarti</h3>
                <div class="row custom-row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/separazione.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/divorzi.png' %}" alt="...">
                                <p>SEPARAZIONE <br> E DIVORZI</p>
                                <a href="{% url 'separazioni-divorzi' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/crisi-di-impresa.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/crisi-impresa.png' %}" alt="...">
                                <p>CRISI DI IMPRESA <br> E RISANAMENTO</p>
                                <a href="{% url 'impresa-risanamento' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-position">
                        <div class="img-container">
                            <img src="{% static 'images/icons/attivita/diffamazione-stampa.png' %}" alt="...">
                            <div class="overlay">
                                <img src="{% static 'images/icons/attivita/white-icons/diffamazione-stampa.png' %}"
                                    alt="...">
                                <p>DIFFAMAZIONE A <br> MEZZO STAMPA</p>
                                <a href="{% url 'diffamazione' %}">Scopri</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="home-section-seven" class="container-fluid">
        <div class="container content">
            <div class="row gy-5">
                <div class="col-lg-6 col-sm-12">
                    <h3>Contattaci per maggiori <br> informazioni</h3>
                    <a href="#">Via Lovanio, 10, 20121 Milano, Italy</a>
                    <a href="#">Telefono +39 02.82.95.18.61</a>
                    <a href="#">Fax: 178.6060.284</a>
                    <a href="#">E-mail: info@legalars.net</a>
                </div>
                <div class="col-lg-6 col-sm-12">

                    <form class="row g-3 form-white">
                        <div class="col-md-6 form-floating">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Nome*</label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <label for="floatingInput">Email*</label>
                        </div>
                        <div class="col-12 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                rows="5" required></textarea>
                            <label for="floatingTextarea">Messaggio*</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Accetto l’informativa sulla <a href="{% url 'privacyPage' %}">privacy</a> *
                            </label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn-gold-outline">INVIA</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</article>
{% endblock main %}