{% extends 'base.html' %}

{% load static %}


{% block title %}Blog - LegalArs{% endblock title %}


{% block metatag %}{% endblock metatag %}


{% block main %}
<article class="container" id="vantaggi-body">
    <section class="first-section">
        <h1>Lo studio legale digitale</h1>
        <p>Siamo in costante evoluzione digitale per soddisfare al meglio sia le
            esigenze dei
            clienti che degli utenti del sito.</p>
    </section>
    <section class="second-section row">
        <div class="text-container col-lg-4 col-md-6 col-sm-12">
            <h2>Pochi click. Zero stress.</h2>
            <p>Con un account sul nostro sito, potrai avviare in modo semplice e veloce una serie di servizi legali
                direttamente dal tuo computer. Potrai inoltre controllare lo
                stato di avanzamento dei tuoi servizi legali in qualsiasi momento, con pochi semplici clic.</p>
        </div>
        <div class="img-container col-lg-8 col-md-6 col-sm-12">
            <img src="{% static 'images/userarea_home_mockup.png' %}" class="img-fluid" alt="">
        </div>
    </section>
    <section class="third-section row">
        <div class="img-container col-lg-4 col-md-6 col-sm-12">
            <img src="{% static 'images/post-saved-mockup.png' %}" class="img-fluid" alt="">
        </div>
        <div class="text-container col-lg-8 col-md-6 col-sm-12">
            <h2>Un'esperienza migliore per tutti</h2>
            <p>Che tu abbia bisogno di un avvocato o no, creare un account ti permetterà di salvare le informazioni che
                ritieni più utili.</p>
            <p>Salva gli articoli del blog che più ti sono piaciuti e consulta facilmente i contenuti che ti
                interessano.</p>
        </div>
    </section>
    <section id="cta-section">
        <a href="{% url 'registrazione' %}" class="btn-gold-outline">Crea un account gratuito ora</a>
    </section>
</article>
{% endblock main %}