{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CUSTOM JS -->
    <script src="{% static 'js/headerBtn.js' %}"></script>
    <script src="{% static 'js/scrollToTop.js' %}"></script>
    {% block metatag %}{% endblock metatag %}
</head>

<body>
    <!-- HEADER START -->
    <header class="container-fluid" id="header">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href="{% url 'vetrina:home' %}"><img src="{% static 'images/logo_1.svg' %}"
                    id="logo" alt=""></a>
            <button id="headerBtn" class="navbar-toggler not-open" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span id="lineOne" class="line"></span>
                <span id="lineTwo" class="line"></span>
                <span id="lineThree" class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'vetrina:home' %}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">INIZIATIVE</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'vetrina:legal_sharing' %}">Legal Sharing</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:estia' %}">Partnership tra LegalArs ed
                                    Estia</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:home' %}">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vetrina:chi_siamo' %}">CHI SIAMO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">AREE DI ATTIVITÀ</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'vetrina:diritto_civile' %}">Diritto Civile</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:diritto_penale' %}">Diritto Penale</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:diritto_amministrativo' %}">Diritto
                                    Amministrativo</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:diritto_lavoro' %}">Diritto del
                                    Lavoro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">SERVIZI</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'vetrina:investimenti_truffe' %}">Investimenti e
                                    Truffe
                                    Online</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:separazioni_divorzi' %}">Separazioni e
                                    Divorzi</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:esdebitazione' %}">Esdebitazione</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:reati_ambientali' %}">Reati
                                    Ambientali</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:mandato_eu' %}">Mandato di Arresto
                                    Europeo</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:real_estate' %}">Real Estate</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:diffamazione_stampa' %}">Diffamazione a
                                    mezzo di
                                    Stampa</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:colpa_medica' %}">Colpa Medica</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:rapporti_bancari' %}">Tutela nei rapporti
                                    bancari</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:tutela_immagine' %}">Tutela dell’immagine
                                    sul
                                    web</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:diritto_impresa' %}">Diritto di
                                    Impresa</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:permesso_soggiorno' %}">Permesso di
                                    Soggiorno</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:impresa_risanamento' %}">Crisi di Impresa
                                    e
                                    Risanamento <br> Aziendale</a></li>
                            <li><a class="dropdown-item" href="{% url 'vetrina:atti_esattoriali' %}">Tutela Avverso Atti
                                    Esattoriali</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vetrina:contatti' %}">CONTATTACI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-container" href="{% url 'vetrina:ricerca' %}"><img class="nav-icon"
                                src="{% static 'images/icons/lens.svg' %}" alt=""></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#"><img src="{% static 'images/icons/user.svg' %}" alt=""></a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'dashboard:bacheca' %}">Area Riservata</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Disconnettiti</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link icon-container" href="{% url 'account_login' %}">Accedi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-container" href="{% url 'account_signup' %}">Registrati</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
    </header>
    <!-- HEADER END -->


    {% block main %}
    {% endblock main %}

    <button id="scroll-to-top">&#8593;</button>

    <!-- FOOTER -->
    <footer class="container-fluid">
        <div class="container">
            <div class="row gy-3 mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12 order-lg-1 order-md-1 order-sm-1 order-1 text-responsive">
                    <h3>LegalArs.net</h3>
                    <ul>
                        <li>Avv. Antonio Mazza <br>
                            P.IVA: 01945420790</li>
                        <li><a href="#">Lo Studio</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 order-lg-2 order-md-3 order-3">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-responsive">
                            <h3>I nostri Servizi</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-responsive">
                            <ul>
                                <li><a href="#">Investimenti e truffe online</a></li>
                                <li><a href="#">Separazione e divorzi</a></li>
                                <li><a href="#">Esdebitazione</a></li>
                                <li><a href="#">Diffamazine a mezzo stampa</a></li>
                                <li><a href="#">Colpa medica</a></li>
                                <li><a href="#">Mandato di arresto europeo</a></li>
                                <li><a href="#">Tutela nei rapporti bancari</a></li>
                                <li><a href="#">Tutela avverso atti esattoriali</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-responsive">
                            <ul>
                                <li><a href="#">Tutela delle immagini sul Web</a></li>
                                <li><a href="#">Crisi di impresa e risanamento
                                        aziendale</a></li>
                                <li><a href="#">Reati Ambientali</a></li>
                                <li><a href="#">Recupero Crediti</a></li>
                                <li><a href="#">Diritto di Impresa</a></li>
                                <li><a href="#">Real Estate</a></li>
                                <li><a href="#">Permesso di Soggiorno</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-2 order-2 text-responsive">
                    <h3>Contatti</h3>
                    <ul>
                        <li>Via Lovanio, 10, 20121 Milano</li>
                        <li>EMAIL: info@legalars.net</li>
                        <li>TEL: +39 0282951861</li>
                        <li>FAX: 1786060284</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-left text-responsive">
                    <small>Copyright © 2023 LegalArs. Tutti i diritti riservati.</small>
                </div>
                <div class="col-md-6 col-sm-12 text-end text-responsive">
                    <small>Sviluppato da <a href="#">Free Attitude</a></small>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>