{% extends 'vetrina/base.html' %}
{% load static %}


{% block title %}Informativa privacy - Legalars{% endblock title %}


{% block metatag %}
<meta name="description" content="Informativa sulla privacy di LegalArs - Studio Legale a Milano">
<link rel="canonical" href="https://www.legalars.net/informativa-privacy/">
<meta property="og:locale" content="it_IT">
<meta property="og:type" content="article">
<meta property="og:title" content="Informativa privacy - Legalars">
<meta property="og:url" content="https://www.legalars.net/informativa-privacy/">
<meta property="og:site_name" content="Legalars">
<meta property="article:publisher" content="https://www.facebook.com/legalars.net/">
<meta property="article:modified_time" content="2023-1-5T15:22:30+00:00">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:label1" content="Tempo di lettura stimato">
<meta name="twitter:data1" content="2 minuti">
{% endblock metatag %}


{% block main %}
<section class="container privacy-section">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h1><strong>INFORMATIVA AI SENSI DELL’ART. 13 D. LGS. 196/2003</strong></h1>
            <p>Legalars.net. informa tutti gli utilizzatori del sito siano essi privati o liberi professionisti che il
                conferimento
                dei dati richiesti è necessario anche per l’erogazione dei servizi per il periodo di promozione gratuito
                e non
                vincolante, e comunica ai sensi e per gli effetti dell’art. 13 del D.Lgs. 196/03 agli interessati, che
                le
                informazioni e i dati personali dagli stessi forniti a fronte dell’adesione al presente servizio,
                verranno
                trattati
                dal titolare con correttezza, liceità e trasparenza. I dati forniti verranno raccolti con modalità
                informatizzate o
                cartacee, e saranno custoditi da Legalars.net gli stessi potranno essere modificati o cancellati previa
                preventiva
                comunicazione da trasmettersi al seguente indirizzo di posta elettronica info@legalars.net. A seguito
                del
                conferimento del consenso, i dati raccolti verranno inseriti nelle banche dati di Legalars.net. e non
                saranno
                comunicati e diffusi a terzi. Il titolare del trattamento è Legalars.net., con sede a Milano, In Foro
                Buonaparte
                12,
                20121, Milano in persona del legale rappresentante pro tempore. Ai sensi dell’art. 7 del D. Lgs. 196/03
                il
                Responsabile del trattamento è Legalars.net Il Cliente aderente potrà rivolgersi al titolare e al
                responsabile
                del
                trattamento per far valere i Suoi diritti così come previsti dall’articolo 7 del D. Lgs. 196/03. Per
                ogni
                ulteriore
                informazione si prega di scrivere al seguente indirizzo di casella di posta info@legalars.net.</p>
        </div>
    </div>
</section>
{% endblock main %}